body {
    background-color: #B9B9FF;
    background-image: url("images/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 130px;
}

header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background: beige;
    border-radius: 5px;
    max-height: 100px;
    font-weight: bolder;

}

#update {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* form {
    text-align: center;
    width: 75%;
    background-color: beige;
    margin: 20px;
    border-radius: 10px;
    
} */

#dog-form {
    width: 200px;
    height: auto;
    height: 556px;
    background-image: url("sandpaw.jpeg");
    background-repeat: no-repeat;
    background-position-y: 210px;
}

p {
    
    margin: 10px;
    padding:0;
    text-align: right;
    font-size: 14px;
}

#text-input{
    
    margin: 10px;
    padding:0;
    text-align: left;
    font-size: 14px;
    word-wrap: break-word;
    font-weight: bolder;
}

img {
    margin: 10px;
}

.post-div {
    margin-left: auto;
    margin-right: auto;
    background-color: #8484BD;
    border: 2px solid navy;
    border-radius: 10px;
    margin: 20px;
    width: 75%;
    padding: 0px 15px 15px 15px;
    font-weight: bolder;

}
    
#add-new-user {
    width: 100px;
    height: auto;
    text-align: center;
}

#form-update {
    width: 70%;
    font-weight: bolder;
}

ul {
    display: flex;
    justify-content: space-around;

}

li {
    list-style: none;
}

#feed-holder {
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border-radius: 5px;
    background-color: beige;
}

.caretakers {
    float: right;
    
}

#annoying {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.right {
    margin-right: auto;
}