body {
    background-color: #B9B9FF;
    background-image: url("images/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 146px;
}

header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background: beige;
    border-radius: 5px;

}

#dog-form {
    background-color: beige;
    width: 290px;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}

fieldset {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    text-align: center;
}

fieldset:first-child {
    padding: 50px;

}

#foot {
    background-color: #B9B9FF;
    text-align: center;
    margin: 2em auto;
    width: 100px;
}

#pic {
    margin-left: 29px;
}