/* body {
    background-color: #B9B9FF;
    background-image: url("sandpaw.jpeg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-y: 200px;
} */

header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background: beige;
}

body {
    border: 1px solid black;
}

#profile {
    border: 1px solid black;
}

#update {
    border:1px solid black;
}

form {
    text-align: center;
    width: 200px;
    background-color: beige;
    float: right;
    height: 500px;
    
}

#dog-form {
    width: 200px;
    height: auto;
    height: 556px;
}

p {
    background-color: lightcyan;
    margin: 10px;
    padding:0;
    text-align: right;
    font-size: 14px;
}

div {
    border: 1px solid black;
    font-size: 20px;
    font-weight: bolder;
    
}